
	<style>
	.body {
	
	}
	#slideshow4{
		
		border:1px solid grey;
		
	}
	.list-inline>li {
		
		border: 1px solid #ab8f7e;
	}
	.modal-body {
		// background: url(assets/img/properties/bg-modal2.jpg) no-repeat center;
		background-size: cover;
		
	}
		
	.desoslide-wrapper>img{
		
		width: 720px;
		height: 470px;
		
	}
	#slideshow4_thumbs>li>a>img{
		
		width: 120px;
		height: 80px;
		
	}
	.desoslide-thumbs-horizontal{
		margin-top:10px;
	}
	.modal-lg {
		width: 98%!important;
	}
	.modal-header {
		background: url(assets/img/properties/dg-6220.jpg) no-repeat center;
		background-size: cover;
		padding: 0 18px;
	}
	.modal-header .close {
		margin-top: -36px;
	}
	.modal-title {
			margin: 0;
			line-height: 1.72222;
			color: #712e04;
	}
	.product_heading{
		
		background: url(assets/img/properties/dg-6215.jpg) no-repeat center;
		background-size: cover;
		background-color: #e0c450;
		padding: 10px;
		color: #fffdfd;
		margin-top: 0px;
		
	}
	
	.main_tit{
			font-family: 'Open Sans', sans-serif;
		font-size:14px!important;
	}
	.left_tit{
		float:left;
		width:30%;
		
	}
	.center_tit{
		float:left;
		width:10%;
		
	}
	.right_tit{
		float:right;
		width:60%;
		color:black;
	}
	.tab-img {
    background: #ededed;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
	}
	.tab-header {
		font-weight: 600;
		font-family: 'Open Sans', sans-serif;
		color: #000000;
		font-size:16px;
	}
	 p {
		
		font-family: 'Open Sans', sans-serif;
		font-size:14px!important;
	}
	.prop_tit_right{
		//float:left;
	
		margin-left: 10px;

	}
	.prop_tit_desc{
		
		margin-left:30%;
		
	}
	
	
	/********************* Shopping Demo-5 **********************/
			.product-image5 .pic-1,.product-image5 .pic-2{backface-visibility:hidden;transition:all .5s ease 0s}
			.product-grid5{font-family:Poppins,sans-serif;position:relative}
			.product-grid5 .product-image5{
											overflow:hidden;position:relative;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
											-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
											-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
											padding: 2px;
										 }
			.product-grid5 .product-image5 a{display:block}
			.product-grid5 .product-image5 img{width:100%;
												// height:auto;
												    height: 220px;
												}
			.product-image5 .pic-1{opacity:1}
			.product-grid5:hover .product-image5 .pic-1{opacity:0}
			.product-image5 .pic-2{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0}
			.product-grid5:hover .product-image5 .pic-2{opacity:1}
			.product-grid5 .social{padding:0;margin:0;position:absolute;top:10px;right:10px}
			.product-grid5 .social li{display:block;margin:0 0 10px;transition:all .5s}
			.product-grid5 .social li:nth-child(2){opacity:0;transform:translateY(-50px)}
			.product-grid5:hover .social li:nth-child(2){opacity:1;transform:translateY(0)}
			.product-grid5 .social li:nth-child(3){opacity:0;transform:translateY(-50px)}
			.product-grid5:hover .social li:nth-child(3){opacity:1;transform:translateY(0);transition-delay:.2s}
			.product-grid5 .social li a{color:#888;background:#fff;font-size:14px;text-align:center;line-height:40px;height:40px;width:40px;border-radius:50%;display:block;transition:.5s ease 0s}
			.product-grid5 .social li a:hover{color:#fff;background:#1e3799}
			.product-grid5 .select-options{color:#000;background-color:#fff;font-size:16px;font-weight:400;text-align:center;text-transform:uppercase;padding:15px 5px;margin:0 auto;opacity:0;display:block;position:absolute;width:92%;left:0;bottom:-100px;right:0;transition:.5s ease 0s}
			.product-grid5 .select-options:hover{color:#fff;background-color:#1e3799;text-decoration:none}
			.product-grid5:hover .select-options{opacity:1;bottom:10px}
			.product-grid5 .product-content{padding:20px 10px}
			.product-grid5 .title{font-size:15px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
			.product-grid5 .title a{color:#222}
			.product-grid5 .title a:hover{color:#1e3799}
			.product-grid5 .price{color:#222;font-size:13px;font-weight:500;letter-spacing:1px}
			@media only screen and (max-width:990px){.product-grid5{margin-bottom:30px}
			}

	
	
	
	</style>
	
